:root {
	--accent-color: rgb(79, 155, 187);
	--link-color: skyblue;
	--primary-text-color: white;
	--secondary-text-color: black;
	--primary-container-color: white;
	--secondary-container-color: #f1f3f6;
}

body {
	font-family: "Calibri", sans-serif;
	background-color: var(--secondary-container-color);
	margin: 0;
	--bs-body-font-size: 1.25rem;
}

.img-fade-in {
	animation: fadeIn 2s;
	-webkit-animation: fadeIn 2s;
	-moz-animation: fadeIn 2s;
	-o-animation: fadeIn 2s;
	-ms-animation: fadeIn 2s;
  }
  
.img-fade-in-3 {
	animation: fadeIn 3s;
	-webkit-animation: fadeIn 3s;
	-moz-animation: fadeIn 3s;
	-o-animation: fadeIn 3s;
	-ms-animation: fadeIn 3s;
 }

@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
 
@-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
  